<div class="body">
    <div class="about">
        <div class="experience">
            <div class="section-title">
                <span class="dot" style="color: greenyellow !important;">·</span>
                <h6><span class="heading6">AVAILABLE NOW &lpar;{{currentTime}} EDT&rpar;</span></h6>
            </div>

            <div class="landing">
                <h1 class="landing-title">I'm passionate about building aesthetic products that <span style="font-style: italic;">empower the world</span>.</h1>
            </div>

            <div class="socials">
                <div class="social">
                    <a href="https://www.linkedin.com/in/ayden-yiming-deng" target="_blank" title="New Tab 🔗 LinkedIn">LinkedIn</a>
                    <img src="https://cdn.prod.website-files.com/63dcb6e1a80e9454b630f4c4/63e0b50ea0956f4526968ef1_23-icon-external.svg"
                        loading="lazy" alt="" class="icon-external">
                </div>
                <div class="social">
                    <a href="mailto:ayden.yiming.deng@gmail.com" target="_blank" title="New Tab 🔗 Email">ayden.yiming.deng&commat;gmail.com</a>
                    <img src="https://cdn.prod.website-files.com/63dcb6e1a80e9454b630f4c4/63e0b50ea0956f4526968ef1_23-icon-external.svg"
                        loading="lazy" alt="" class="icon-external">
                </div>
                <div class="social">
                    <a href="https://yb4tsxyxizt.larksuite.com/docx/OOQtdIKoso05itxV9OCufqV3sFf?from=from_copylink"
                        target="_blank" title="New Tab 🔗 Resume">Resume</a>
                    <img src="https://cdn.prod.website-files.com/63dcb6e1a80e9454b630f4c4/63e0b50ea0956f4526968ef1_23-icon-external.svg"
                        loading="lazy" alt="" class="icon-external">
                </div>
            </div>
        </div>

        <hr class="divider">

        <div class="experience">
            <div class="section-title">
                <span class="dot">·</span>
                <h6><span class="heading6">EXPERIENCE</span></h6>
            </div>

            <div class="exp-sec" *ngFor="let experience of experiences$ | async">
                <div class="employer">
                    <h1 class="exp-emp">{{experience.employer}}</h1>
                </div>
                <div class="description">
                    <h3 class="exp-title">{{experience.title}}</h3>
                    <p class="exp-dura">{{experience.duration}}</p>
                    <p class="exp-des">{{experience.description}}</p>
                </div>
            </div>
        </div>

        <hr class="divider">

        <div class="experience">
            <div class="section-title">
                <span class="dot">·</span>
                <h6><span class="heading6">EDUCATION</span></h6>
            </div>


            <div class="exp-sec">
                <div class="employer">
                    <h1 class="exp-emp">DePaul University</h1>
                </div>
                <div class="description">
                    <h3 class="exp-title">Master of Science in Computer Science</h3>
                    <p class="exp-dura">Fall 2022 - Spring 2024 · Chicago, IL</p>
                    <p class="exp-des">Concentration: Software Engineering & Humen-Compuper Interaction</p>
                </div>
            </div>
        </div>
    </div>
</div>