<div class="body">
    <div class="about">
        <div class="experience">
            <div class="section-title">
                <span class="dot">·</span>
                <h6><span class="heading6">ABOUT ME</span></h6>
            </div>

            <div class="landing">
                <h1 class="landing-title">I'm passionate about building aesthetic products that <span style="font-style: italic;">empower the world</span>.</h1>
            </div>
        </div>

        <hr class="divider">

        <div class="experience">
            <div class="section-title">
                <span class="dot">·</span>
                <h6><span class="heading6">EXPERIENCE</span></h6>
            </div>

            <div class="exp-sec" *ngFor="let experience of experiences$ | async">
                <div class="employer">
                    <h1 class="exp-emp">{{experience.employer}}</h1>
                </div>
                <div class="description">
                    <h3 class="exp-title">{{experience.title}}</h3>
                    <p class="exp-dura">{{experience.duration}}</p>
                    <p class="exp-des">{{experience.description}}</p>
                </div>
            </div>
        </div>

        <hr class="divider">

        <div class="experience">
            <div class="section-title">
                <span class="dot">·</span>
                <h6><span class="heading6">EDUCATION</span></h6>
            </div>


            <div class="exp-sec">
                <div class="employer">
                    <h1 class="exp-emp">DePaul University</h1>
                </div>
                <div class="description">
                    <h3 class="exp-title">Master of Science in Computer Science</h3>
                    <p class="exp-dura">Fall 2022 - Spring 2024 · Chicago, IL</p>
                    <p class="exp-des">Concentration: Software Engineering & Humen-Compuper Interaction</p>
                </div>
            </div>
        </div>
    </div>
</div>