<div class="footer">
    <!-- <div class="lowerright"> -->
    <div class="upperleft">
        <div class="logo-area">
            <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/assets/dark-logo.png" loading="lazy"
                alt="" class="icon-external">

            <div>
                <p class="name">
                    Ayden Deng
                </p>
                <p class="title">
                    Software Engineer & Designer
                </p>
            </div>
        </div>

        <div>
            <p class="copyright">
                © 1999 - {{year}} Ayden Deng.
                All rights reserved.
            </p>
        </div>

    </div>
    <!-- <div class="upperleft"> -->
    <div class="lowerright">
        <div class="col1">
            <h6>MAIN</h6>
            <p>
                <a href="work">Work</a>
            </p>
            <p>
                <a href="about">About</a>
            </p>
        </div>
        <div class="col2">
            <h6>CONTACT</h6>
            <p>
                <a href="https://www.linkedin.com/in/ayden-yiming-deng" target="_blank" title="New Tab 🔗 LinkedIn">LinkedIn</a>
                <img src="https://cdn.prod.website-files.com/63dcb6e1a80e9454b630f4c4/63e0b50ea0956f4526968ef1_23-icon-external.svg"
                    loading="lazy" alt="" class="icon-external">
            </p>
            <p>
                <a href="https://yb4tsxyxizt.larksuite.com/docx/OOQtdIKoso05itxV9OCufqV3sFf?from=from_copylink"
                    target="_blank" title="New Tab 🔗 Resume">Resume</a>
                <img src="https://cdn.prod.website-files.com/63dcb6e1a80e9454b630f4c4/63e0b50ea0956f4526968ef1_23-icon-external.svg"
                    loading="lazy" alt="" class="icon-external">
            </p>
        </div>
    </div>

    <div class="lowest">
        <div class="logo-area">
            <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/assets/dark-logo.png" loading="lazy"
                alt="" class="icon-external">

            <div>
                <p class="name">
                    Ayden Deng
                </p>
                <p class="title">
                   Engineer & Designer
                </p>
            </div>
        </div>
        
        <div>
            <p class="copyright" title="All rights reserved.">
                © 1999 - {{year}} Ayden Deng
                
            </p>
        </div>

    </div>
</div>