<div class="home">
    <div class="home-grid">

        <div class="tile">

            <span>Hello, I'm Ayden!</span>
            <br />
            <span>I craft websites, applications & stories with codes & figma.</span>

            <span>
                Software Engineer & Designer Based in Midwest.
            </span>

        </div>

        <div class="tile-nest">
            <div class="nested-tile" id="darkmode">
                <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/hyperOSdarktheme.png"
                    loading="lazy" alt="">
            </div>

            <div class="nested-tile">
                <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/RedmiNote11.png"
                    loading="lazy" alt="">
            </div>
        </div>

        <div class="tile-nest">
            <div class="nested-tile">
                <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/miui13-phones.png"
                loading="lazy" alt="">
            </div>

            <div class="nested-tile">
                <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/KwaiDistribution.png"
                loading="lazy" alt="">
            </div>
        </div>

        <div class="outlined-tile">
            <!-- <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/RedmiNote11.png"
                loading="lazy" alt=""> -->
            <img class="img2-1" src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/miui13-Showcase.png"
                loading="lazy" alt="">
        </div>

    </div>
</div>
<app-showcase></app-showcase>