<div class="home">
    <div class="home-grid">

        <div class="tile">

            <span>Hello, I'm Ayden!</span>
            <br />
            <span>I craft websites, applications & stories with codes & figma.</span>

            <span>
                Software Engineer & Designer Based in Midwest.
            </span>

        </div>

        <div class="tile-nest">
            <div class="nested-tile" id="darkmode">
                <img src="../../../../public/covers/hyperOSdarktheme.png" loading="lazy"
                alt="">
            </div>

            <div class="nested-tile">

            </div>
        </div>

        <div class="tile-nest">
            <div class="nested-tile">

            </div>

            <div class="nested-tile">

            </div>
        </div>

        <div class="outlined-tile">

        </div>

    </div>
</div>
<app-showcase></app-showcase>