@import '../../../variables';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .landing {
        // border: 1px solid #fff;
        // overflow: hidden !important;
        width: 90vw;
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;

        .row {
            width: 100%;
            height: auto;
            // overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .right,
            .left {
                border: 1px solid $content-border;
                width: 49%;
                height: 20rem;
                border-radius: 1.5rem;
                // overflow: hidden;
                transition: all 0.25s ease-in-out;

                img {
                    vertical-align: middle;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: inline-block;
                    transition: all 0.25s ease-in-out;
                }
            }

            .right#r1,
            .left#l2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .nested {
                    transition: all 0.25s ease-in-out;
                    border: 0.5px solid $content-border;
                    width: 48%;
                    height: 20rem;
                    border-radius: 1.5rem;
                    overflow: hidden;

                    img {
                        vertical-align: middle;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: inline-block;
                        transition: all 0.25s ease-in-out;
                    }
                }

                .nested:hover {
                    transform: scale(1.03);
                }

            }

            .right#r2 {
                overflow: hidden;
            }

            .left#landing {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                overflow: hidden;
                gap: 1rem;
                border: none;
                background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0));
                text-shadow: 0 5px 10px #0057ff26, 0 -5px 10px #ff5a001a, 0 -5px 25px #ffffff4d;

                .greeting {
                    margin-left: 1.5rem;
                    font-family: "Gloock", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 1.2rem;
                    text-align: left;
                    line-height: 90%;
                    font-family: "Gloock", serif;

                    .ayden {
                        font-style: italic;
                        opacity: 1;
                    }
                }

                .banner-slogan {
                    margin-left: 1.5rem;
                    margin-bottom: 1.5rem;
                    font-size: 1.8rem;
                    font-family: "Gloock", serif;
                    font-weight: 400;
                    font-style: normal;
                    // font-size: 1.5rem;
                    line-height: 3rem;

                    span {
                        font-style: italic;
                    }
                }

                .personal-title {
                    margin-left: 1.5rem;
                    opacity: 0.8;
                    line-height: 1.5rem;

                    .exp {
                        opacity: 0.25;
                    }
                }
            }

            .right#r2:hover {
                transform: scale(1.03);
            }


            @media screen and (max-width: 1024px) {

                .right,
                .left {
                    width: 100%;
                    margin-bottom: 1.5rem;
                    // height: auto;
                }

            }
        }
    }


    .exp-client {
        padding-block: 1rem;
        padding-inline: 2rem;
        width: 90vw;
        padding: 1.5rem;
        max-width: 1280px;
        transition: all 0.25s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;

        .exp-title {
            font-family: "Gloock", serif;
            margin-bottom: 1.25rem;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            text-align: left;
            line-height: 90%;
            font-family: "Gloock", serif;
            overflow: visible;
            text-shadow: 0 5px 10px #0057ff26, 0 -5px 10px #ff5a001a, 0 -5px 25px #ffffff4d;
        }

        .brand-logos {
            display: flex;
            max-width: 1280px;
            flex-direction: row;
            flex-wrap: nowrap;
            // gap: 4rem;
            transition: all 0.25s ease-in-out;
            justify-content: center;
            align-items: center;

            .logo-pair {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                // gap: 4rem;
                width: 100%;
                justify-content: center;
                align-items: center;

                img {
                    vertical-align: middle;
                    width: auto;
                    height: auto;
                    max-height: 4rem;
                    object-fit: cover;
                    display: inline-block;
                    transition: all 0.25s ease-in-out;
                    margin-inline: 2rem;
                }

            }

        }

        @media screen and (max-width: 1280px) {
            .brand-logos {
                transform: scale(0.85);
            }
        }

        @media screen and (max-width: 1180px) {
            .brand-logos {
                transform: scale(0.75);
            }
        }

        @media screen and (max-width: 991px) {
            .brand-logos {
                flex-direction: column;
                width: unset;
                gap: 2rem;
                transform: scale(1);

                .logo-pair {
                    justify-content: space-between;
                }
            }
        }

        @media screen and (max-width: 768px) {
            .brand-logos {
                transform: scale(0.8);
            }
        }

        @media screen and (max-width: 400px) {
            .brand-logos {
                transform: scale(0.7);
            }
        }
    }
}