<div class="home">
    <div class="landing">

        <!-- Row 1 -->
        <div class="row" id="1">
            <div class="left" id="landing">
                <span class="greeting">Hello, I'm <span class="ayden">Ayden</span> !</span>
                <br />
                <span class="banner-slogan">I craft websites & apps with <span>codes</span> & <span>stories</span>.</span>
    
                <span class="personal-title">
                    Product Manager & Designer Based in California (PT). <br/>
                    <span class="exp">Product Manager at Bitus Labs · Formerly at Xiaomi & Kwai</span>
                </span>
            </div>

            <div class="right" id="r1">
                <div class="nested">
                    <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/hyperOSdarktheme.png"
                    loading="lazy" alt="">
                </div>
    
                <div class="nested">
                    <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/RedmiNote11.png"
                    loading="lazy" alt="">
                </div>
            </div>
        </div>

        <!-- Row 2 -->
        <div class="row" id="2">
            <div class="left" id="l2">
                <div class="nested">
                    <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/miui13-phones.png"
                    loading="lazy" alt="">
                </div>
    
                <div class="nested">
                    <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/KwaiDistribution.png"
                    loading="lazy" alt="">
                </div>
            </div>

            <div class="right" id="r2">
                <img class="img2-1"
                src="https://raw.githubusercontent.com/imayden/imayden/main/public/covers/miui13-Showcase.png"
                loading="lazy" alt="">
            </div>
        </div>
    </div>

    <div class="exp-client">
        <div class="exp-title">
            <span>Xiaomi, Kwai & <span style="font-style: italic">more</span>...</span>
        </div>

        <div class="brand-logos">
            <div class="logo-pair">
                <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/brandLogos/logo-Xiaomi.png"
                    loading="lazy" alt="">
                <img style="height: 2rem !important;"
                    src="https://raw.githubusercontent.com/imayden/imayden/main/public/brandLogos/logo-Redmi.png"
                    loading="lazy" alt="">
            </div>

            <div class="logo-pair">
                <img style="height: 4rem !important;" src="https://raw.githubusercontent.com/imayden/imayden/main/public/brandLogos/logo-HyperOS.png"
                    loading="lazy" alt="">
                <img style="height: 2rem !important;"
                    src="https://raw.githubusercontent.com/imayden/imayden/main/public/brandLogos/logo-MIUI.png"
                    loading="lazy" alt="">
            </div>

            <div class="logo-pair">
                <img style="height: 2.2rem !important;" src="https://raw.githubusercontent.com/imayden/imayden/main/public/brandLogos/logo-Kwai.png"
                    loading="lazy" alt="">
                <img style="height: 2rem !important;"
                    src="https://raw.githubusercontent.com/imayden/imayden/main/public/brandLogos/logo-KwaiShop.png"
                    loading="lazy" alt="">
            </div>

        </div>

        <div>
            <img style="height: 4rem !important; margin-right: 0.5rem; padding: 0; margin-block: 0;" src="https://www.ctdanceschool.org/wp-content/uploads/2019/09/bounce-arrow.gif"
                    loading="lazy" alt="">
        </div>

    </div>
</div>
<app-showcase></app-showcase>