<div class="body">
    <div class="heading">
        <div class="title">
            <h1>Dark Theme · AOSP UI</h1>
            <p class="subtitle" style="opacity: 1;font-size: 1.1rem;">HyperOS, 2021</p>
            <p><span class="reg-text">The design & development of the Dark Theme UI for MIUI (legacy version of HyperOS, Xiaomi’s custom AOSP UI).</span></p>
        </div>

    </div>

    <hr class="divider" />

    <div class="portfolio">

        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/darkmode/09-DM.png"
            alt="Darkmode" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/darkmode/10-DM.png"
            alt="Darkmode" loading="lazy">
    </div>
</div>