<div class="body">
    <div class="heading">
        <div class="title">
            <h1>Redmi Note 11 Pro+ 5G Showcase</h1>
            <p class="subtitle" style="opacity: 1;font-size: 1.1rem;">Redmi, 2021 </p>
            <p><span class="reg-text">The smartphone product showcase site for the budget smartphone Redmi Note 11 Pro+ 5G, an animated site
                    built with React.</span></p>
        </div>

        <a href="https://www.mi.com/global/product/redmi-note-11-pro-plus-5g/" target="_blank" class="btn-primary">Go
            Live</a>

    </div>

    <hr class="divider" />

    <div class="portfolio">

        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/redmi/05-Redmi.png"
            alt="Redmi Showcase" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/redmi/06-Redmi.png"
            alt="Redmi Showcase" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/redmi/07-Redmi.png"
            alt="Redmi Showcase" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/redmi/08-Redmi.png"
            alt="Redmi Showcase" loading="lazy">
    </div>
</div>