<div #animateElement class="fade-in-up">


  <div *ngFor="let project of projects$ | async" class="showcase" (click)="openLink(project.link)">
    <div class="content">
      <div class="header">
        <div class="title">
          <h1>{{ project.title }}</h1>
          <p class="subtitle" style="opacity: 0.75;font-size: 1.1rem; padding-block: 0.5rem;">{{ project.subtitle }} </p>
          <p><span class="reg-text">{{ project.description }}</span></p>
        </div>
      </div>
      <div class="content-area">
        <div class="content-header">
          <div class="dots">
            <span style="color: red;">⬤</span>
            <span style="color: yellow;">⬤</span>
            <span style="color: green;">⬤</span>
          </div>
          <p class="work-title">{{ project.title }}</p>
        </div>
        <div class="content-card">
          <div class="cover-container">
            <!-- Display video or image by media types -->
            <iframe *ngIf="project.media.type === 'video'" class="cover"
                    [src]="project.media.src | safeUrl"
                    title="YouTube video player" frameborder="0" style="pointer-events: none;"
                    allow="autoplay; encrypted-media;" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
            <img *ngIf="project.media.type === 'image'" class="img" [src]="project.media.src">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>