<div class="body">
    <div class="heading">
        <div class="title">
            <h1>Distribution Marketplace Web App</h1>
            <p class="subtitle" style="opacity: 1;font-size: 1.1rem;">Kwai Shop, 2020</p>
            <p><span class="reg-text">The distribution marketplace of Kwai Shop, a web app embedded in the Kwai App for creators & merchants to
                    cooperate, built with Angular.</span></p>
        </div>

    </div>

    <hr class="divider" />

    <div class="portfolio">

        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/kwaids/11-KwaiD.png"
            alt="Kwai DM" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/kwaids/12-KwaiD.png"
            alt="Kwai DM" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/kwaids/13-KwaiD.png"
            alt="Kwai DM" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/kwaids/14-KwaiD.png"
            alt="Kwai DM" loading="lazy">
    </div>
</div>