<div class="body">
    <div class="heading">
        <div class="title">
            <h1>MIUI Showcase</h1>
            <p class="subtitle" style="opacity: 1;font-size: 1.1rem;">Xiaomi, 2022 </p>
            <p><span class="reg-text">The showcase site for MIUI 13 (a legacy version of Xiaomi HyperOS), an
                    animated site built with React, deployed on Vercel.</span></p>
        </div>

        <a href="https://miui13.home.miui.com/phone" target="_blank" class="btn-primary">Go Live</a>

    </div>

    <hr class="divider" />

    <div class="portfolio">

        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/miui/01-MIUI.png"
            alt="MIUI Showcase" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/miui/02-MIUI.png"
            alt="MIUI Showcase" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/miui/03-MIUI.png"
            alt="MIUI Showcase" loading="lazy">
        <img src="https://raw.githubusercontent.com/imayden/imayden/main/public/portfolio/miui/04-MIUI.png"
            alt="MIUI Showcase" loading="lazy">
    </div>
</div>