// variables.scss
$color-nav-border: rgba(125, 125, 125, 0.35);

// Light mode variables
$color-bg-light: #e1e1e1;
$color-text-light: #454545;
$color-primary-light: #007bff;
$color-nav-light: rgba(0, 0, 0, 0.02);
$color-box-shadow-light: rgba(0, 0, 0, 0.1);

// Dark mode variables
$color-bg-dark: #121212;
$color-text-dark: #eee;
$color-primary-dark: #bb86fc;
$color-nav-dark: rgba(255, 255, 255, 0.02);
$color-box-shadow-dark: rgba(0, 0, 0, 0.8);